@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Source+Code+Pro&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.contanier{
    padding: 0px 16px;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: 'Source Code Pro', monospace;
    background: url(../imagens/pexels-cottonbro-4709289.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;
}
.title{
    font-size: 36px;
    font-weight: normal;
}
li{
    list-style-type: none;
}
.profile-pic{
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2rem;
}
.profile{
    margin-top: 4rem;
    max-width: 452px;
    box-sizing: border-box;
    margin: auto;
    
}
.box{
    background: #eee;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    text-align: center;
    margin-top: 4rem;
}

.profile span{
    font-size: 24px;
}
.profile p{
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.redes-sociais{
    display: flex;
    justify-content: center;
}
.redes-sociais li{
    margin-right: 1rem;
}
.portfolio {
    max-width: 886px;
    margin: 8rem 0;
    box-sizing: border-box;
}
.portfolio ul{
    margin-top: 3rem;
}
.portfolio li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 1rem;
    color: #606060;
}
.portfolio li + li {
    margin-top: 2rem;
}
.portfolio h2{
    font-weight: normal;
    margin-bottom: 1rem;
}
.portfolio img{
    border-radius: 10px;
}
.copy{
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 16px black;
    padding: 80px;
    max-width: 800px;
    text-align: center;
}
.portfolio a{
    text-decoration: none;
    color: #606060;
}
.portfolio a:hover{
    color: #161515;
    text-decoration: underline;

}


